!  ██     ██
! ░░██   ██
!  ░░██ ██   ██████  █████   ██████  ██████  ██   ██ ██████  █████   █████   ██████
!   ░░███   ░░██░░█ ██░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██ ██░░░░
!    ██░██   ░██ ░ ░███████░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████░░█████
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░░░░░██
!  ██   ░░██░███   ░░██████ ██████ ░░██████ ░░██████░███   ░░█████ ░░██████ ██████
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░░░░
! Fonts
!*font:       -lucy-tewi-medium-r-normal--13-90-100-100-c-60-iso10646-1
!*boldFont:   -lucy-tewi-medium-r-normal--13-90-100-100-c-60-iso10646-1
!*italicFont: -lucy-tewi-medium-r-normal--13-90-100-100-c-60-iso10646-1
*font:  xft:PragmataPro Mono:size=11
!Xft.dpi: 192
*foreground: #F7F2BD
*background: #0B0D2A
*cursor: #F7F2BD
*color0: #0B0D2A
*color1: #7C8264
*color2: #EB9731
*color3: #AB8E52
*color4: #EAA651
*color5: #FACD65
*color6: #FAE5A2
*color7: #F7F2BD
*color9: #7C8264
*color10: #EB9731
*color11: #AB8E52
*color12: #EAA651
*color13: #FACD65
*color14: #FAE5A2
*color15: #F7F2BD
*color8: #666666

!URXVT SETTINGS
!URxvt*dynamicColors: on
URxvt.internalBorder: 15
URxvt*lineSpace: 2
URxvt*scrollBar: false
URxvt*scrollColor: #131415
URxvt.geometry: 80x18
URxvt*saveLines: 1000
URxvt*cursorUnderline: false
URxvt*cursorColor: #AADB0F
URxvt*cursorBlink: true
URxvt*underlineColor: #303030
URxvt*allow_bold: true
URxvt*transparent:            true
URxvt*shading:                10

! Enable copy paste via Control + Shift + V     :)
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.iso14755:                 False


! Enable left mouse click url launcher
URxvt*matcher.button:         1
URxvt*perl-ext:
URxvt*perl-ext-common:        default,matcher,clipboard
URxvt*url-launcher:           luakit




! rofi
rofi.modi: run
rofi.font: PragmataPro Mono 13
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
rofi.color-window: #0B0D2A, #0B0D2A, #EB9731
rofi.color-normal: #0B0D2A, #F7F2BD, #0B0D2A, #EB9731, #F7F2BD
rofi.color-active: #0B0D2A, #F7F2BD, #0B0D2A, #EB9731, #F7F2BD
rofi.color-urgent: #0B0D2A, #F7F2BD, #0B0D2A, #7C8264, #F7F2BD
! Separator style (none, dash, solid)
rofi.separator-style:                dash
rofi.fuzzy: false
